<div class="footer">
    <div class="p-grid">
        <div class="p-col-lg-4 logoCIS">
            <img src="/assets/sistemasUNL_blanco.svg" alt="">
        </div>
        <div class="p-col-lg-8 datos">
            <i class="pi pi-map-marker"> Ciudad Universitaria  Guillermo Falconí - Loja - Ecuador</i><br><br>
            <i class="pi pi-phone"> 07 2593550 (Opción 1 - Modalidad Presencial)</i><br><br>
            <i class="pi pi-phone"> 07 2593550 (Opción 2 - Modalidad Distancia)</i><br><br>
            <i class="pi pi-envelope"> Contáctanos: comunicacion@unl.edu.ec</i>
        </div>
    </div>
    <div class="p-grid derechos">
        <div class="p-col-12">
            <small>© 2021. Todos los derechos reservados. Universidad Nacional de Loja</small>
        </div>
    </div>
</div>