.configuraciones{
    padding-top: 5%;
}
.button{
    padding: 1%;
}
.itemsConf{
    text-align: right;
}
.itemsConf label{
    margin-bottom: 10%;
}
.clave{
    text-decoration: none;
    cursor: pointer;
}