.configuraciones{
    padding-top: 5%;
}
.button{
    padding: 1%;
}
.itemsConf{
    text-align: right;
}
.itemsConf label{
    margin-bottom: 10%;
}
.clave{
    text-decoration: none;
    cursor: pointer;
}
.footer-main{
    margin-top: 5%;
    padding: 0%;
}
.bg-footer{
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}