<p-toast position="top-center" key="tc"></p-toast>

<div class="p-grid container">
    <div class="p-col-12">
        <menu-gestor></menu-gestor>
    </div>
    <div class="p-col-2">
        <sidemenu-gestor></sidemenu-gestor>
    </div>
    <div class="p-col-10 p-lg-6 configuraciones">
        <div class="p-grid">
            <div class="p-col-12">
                <h2>CONFIGURACIONES</h2>
            </div>
            <div class="p-col-12 p-lg-8">
                <h3>Host</h3>
                <p-inplace closable="closable">
                    <ng-template pTemplate="display">
                        {{host}}
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input type="text" [(ngModel)]="host" pInputText>
                    </ng-template>
                </p-inplace>
                <h3>Correo</h3>
                <p-inplace closable="closable">
                    <ng-template pTemplate="display">
                        {{correo}}
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input type="text" [(ngModel)]="correo" pInputText>
                    </ng-template>
                </p-inplace>
                <h3>Días de espera</h3>
                <p-inplace closable="closable">
                    <ng-template pTemplate="display">
                        {{dias}}
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input type="number" [(ngModel)]="dias" pInputText>
                    </ng-template>
                </p-inplace>
                <br><br>

                <button class="button" (click)="guardar()"><i class="pi pi-save"> Guardar</i></button>
                <br><br>

                <h2>Cambiar Contraseña</h2>
                <a class="clave" (click)="show()">Cambiar Contraseña</a>
            </div>
        </div>
    </div>

    <p-dialog header="Cambiar Contraseña" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <h3>Ingrese su nueva Contraseña</h3>
        <input type="password" pInputText [(ngModel)]="clave1">
        <h3>Repita la Contraseña</h3>
        <input type="password" pInputText [(ngModel)]="clave2">
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="cambiarContrasena()" label="Guardar" styleClass="p-button-text">
            </p-button>
        </ng-template>
    </p-dialog>
</div>
<div class="p-col-1"></div>