p{
    padding-left: 0%;
    margin-left: 0%;
}
.noData{
    text-align: center;
    padding-top: 2%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}
.header{
    margin-top: 1%;
    width: 100%;
}
.titulos{
    background-color: #0C2342;
    color: #fafafa;
    text-align: center;
}

/* Cuerpo en general */
.cuerpo{
    margin-top: 7%;
}


.titulosCabecera{
    text-align: center;
}
.logo_comunidad{
    width:150px;
    height:150px;
    border-radius: 150px;
}
.fechas{
    text-align: center;
}
.actividad{
    margin-top: 10%;
}
.actividad h2{
    text-align: center;
}

.resultado{
    margin-top: 8%;
}
.resultado h2{
    text-align: center;
}

.img_resultados{
    text-align: center;
    padding: 5%;
    margin-top: 2%;
}
.img_resultados img{
    width: 100%;
}

.button{
    padding: 1%;
}