<div class="p-grid container">
    <div class="p-col-12">
        <menu-miembros></menu-miembros>
    </div>
    <div class="p-col-2"><sidemenu-miembros></sidemenu-miembros></div>
    <div class="p-col-9 cuerpo">
        <div class="p-grid cabecera">
            <div class="p-col-3 verResultados">
                <img class="logo_comunidad" src="{{imagen_com}}{{resultado.comunidad_logo}}" />
            </div>
                <div class="p-col-7 fechas">
                    <div class="titulosCabecera">
                        <h2>{{resultado.actividad}}</h2>
                        <h3>Comunidad {{resultado.comunidad}}</h3>
                    <small>Fecha Inicio: {{resultado.fecha_inicio}}  |  Fecha Fin: {{resultado.fecha_fin}}</small><br>
                    </div>
                </div>
                <div class="p-col-2 enlace">
                    <a (click)="regresar()" ><i class="pi pi-arrow-circle-left"></i> Regresar</a>
                </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-lg-12">
                <div class="actividad">
                    <h2>Descripción de la Actividad</h2>
                    <p>{{resultado.descripcion_actividad}}</p>
                </div>
            </div>
            <div class="p-col-12 p-lg-12">
                <div class="resultado">
                    <h2>Resultados Obtenidos</h2>
                    <p>{{resultado.descripcion_resultado}}</p>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid img_resultados">
                    <div class="p-lg-12">
                        <h2>Evidencias de los Resultados</h2>
                    </div>
                    <div class="p-col-12 p-lg-6" *ngFor="let item of resultado.imagenes">
                        <img alt="Card"
                            src="{{imagen}}{{item.ruta_imagen}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-2 bg-footer"></div>
    <div class="p-col-10 footer-main">
        <footer-miembros></footer-miembros>
    </div>
</div>