<div class="footer">
    <div class="p-grid container">
        <div class="p-col-lg-4 logoCIS">
            <img src="/assets/sistemasUNL_blanco.svg" alt="">
        </div>
        <div class="p-col-lg-8 datos">
            <i class="pi pi-map-marker"><span> Ciudad Universitaria  Guillermo Falconí - Loja - Ecuador</span></i><br><br>
            <i class="pi pi-phone"><span> 07 2593550 (Opción 1 - Modalidad Presencial)</span></i><br><br>
            <i class="pi pi-phone"><span> 07 2593550 (Opción 2 - Modalidad Distancia)</span></i><br><br>
            <i class="pi pi-envelope"><span> Contáctanos: comunicacion@unl.edu.ec</span></i>
        </div>
    </div>
    <div class="p-grid derechos">
        <div class="p-col-12">
            <small>© 2021. Todos los derechos reservados. Universidad Nacional de Loja</small>
        </div>
    </div>
</div>