.container{
    top: 0%;
}
p{
    padding-left: 0%;
}
.noData{
    text-align: center;
    padding-top: 7%;
}
.contenedor{
    padding-top: 7%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.img-container{
    text-align: center;
}
.img-container img{
    width: 50%;
}
.button{
    padding: 1%;
}
.btnCard{
    padding: 3%;
    width: 100%;
}

.caja-texto{
    width: 80%;
}
.button-delete{
    padding: 1%;    
}

@media only screen and (max-width: 900px) {
    .noData{
        padding-top: 20%;
    }
}