<div class="p-grid container">
    <div class="p-lg-3">
        <menu-gestor></menu-gestor>
    </div>
    <div class="p-lg-9" *ngIf="hayDatos">
        <h1>{{titulo}}</h1>
        <div class="p-grid">
            <div class="p-md-12 p-lg-12">
                <div *ngFor="let item of lista">
                    <div class="p-lg-2 p-md-3 p-sm-12 card">
                        <p-card header="{{item.nombres}}" subheader="{{item.tutor}}" [style]="{width: '360px'}"
                            styleClass="p-card-shadow">
                            <ng-template pTemplate="header">
                                <div class="img-container">
                                    <img class="img" alt="Card" [src]="item.ruta_logo">
                                </div>
                            </ng-template>

                            <ng-template pTemplate="footer">
                                <p-button class="boton-card" (click)="show(item.external_comunidad)"
                                    icon="pi pi-info-circle" label="Ver Información" icon="pi pi-check"></p-button>
                            </ng-template>
                        </p-card>
                    </div>
                </div>
            </div>
            <div>
                <p-dialog header="Información Complementaria" [(visible)]="displayModal" [style]="{width: '70vw'}"
                    [baseZIndex]="10000">
                    <h3>Descripción</h3>
                    <p>{{comunidad.descripcion}}</p>
                    <h3>Misión</h3>
                    <p>{{comunidad.mision}}</p>
                    <h3>Visión</h3>
                    <p>{{comunidad.vision}}</p>
                    <p-button class="boton-card" (click)="validarComunidad(comunidad.external_comunidad)"
                        icon="pi pi-check" label="Validar Comunidad"></p-button>
                </p-dialog>
            </div>
        </div>
    </div>
    <div class="noData p-lg-9" *ngIf="!hayDatos">
        <img src="../../../../../assets/advertencia.png" />
        <h2>POR EL MOMENTO NO EXISTEN SOLICITUDES DE COMUNIDADES</h2>
    </div>
</div>