.menu-tutor{
    padding-top: 0%;
}

.cuerpo{
    padding-top: 5%;
}
.cuerpo small{
    padding-left: 0%;
}

.cajas-texto{
    width: 60%;
}

.button, .button-delete{
    padding: 1%;
}
.footer-main{
    margin-top: 5%;
    padding: 0%;
}
.bg-footer{
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}
@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 20%;
    }
    .cajas-texto{
        width: 100%;
    }
}