.menu-tutor{
    padding-top: 0%;
}

.cuerpo{
    padding-top: 5%;
}
.cuerpo small{
    padding-left: 0%;
}

.cajas-texto{
    width: 60%;
}

.button, .button-delete{
    padding: 1%;
}

@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 20%;
    }
    .cajas-texto{
        width: 100%;
    }
}