<p-toast position="top-center" key="tc"></p-toast>
<div class="p-grid container">
    <div id="nav" class="p-col-12">
        <menu-tutor></menu-tutor>
    </div>
    <div class="p-col-2">
        <sidemenu-tutor></sidemenu-tutor>
    </div>  
    <div class="p-col-9 cuerpo">
        <h1>{{titulo}}</h1>
        <form [formGroup]="generarResultadosForm">
            <h3>Inserte el Resumen del Resultado</h3>
            <textarea class="cajas-texto" rows="6" cols="60" pInputTextarea autoResize="autoResize" formControlName="resumen_resultado"></textarea>
            <h3>Inserte la Descripción General del Resultado</h3>
            <textarea class="cajas-texto" rows="6" cols="60" pInputTextarea autoResize="autoResize" formControlName="descripcion_resultado"></textarea>
            <br><br>
            <small>Sr Usuario se recomienda subir imagenes de tipo jpg, jpeg o png</small><br>
            <small>su imagen no puede pesar más de 2Mb</small>
            <br><br>
            <input pInputText type='file' multiple (change)="fileEvent($event)" />
            <br>
            <br><br>
            <input pInputText type="date" class="date" placeholder="fecha" formControlName="fecha_fin" />
            <br><br>
            <button class="button" [disabled]="generarResultadosForm.invalid" type="button" (click)="enviar()"><i class="pi pi-send"> Publicar Resultado</i></button>
            <button class="button-delete" type="button" (click)="cancelar()"><i class="pi pi-times"> Cancelar</i></button>

        </form>
    </div>
    <div class="p-col-1"></div>    

</div>


