.noData{
    text-align: center;
    padding-top: 2%;
}
.cuerpo{
    padding-top: 5%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.button, .button-delete{
    padding: 1%;
}
.trash{
    padding: 4%;
    margin-top: 4%;
    width: 100%;
}
.textbox{
    margin-right: 2%;
    margin-bottom: 1%;
    width: 100%;
}


  input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    background: #fdff72;
    border-radius: 10px;
    width: 100%;
  }
  input[type=range]::-moz-range-thumb{
    border-radius: 5px;
    background: #372e88;
    cursor: pointer;
  }
.footer-main{
    margin-top: 5%;
    padding: 0%;
}
.bg-footer{
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}

@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 10%;
        padding-left: 4%;
    }
    .textbox{
        padding: 2% !important;
    }
}