<div class="p-grid container">
    <div class="p-lg-4">
        <menu-estudiante></menu-estudiante>
    </div>
    <div class="p-lg-8">
        <h1>{{titulo}}</h1>
            <hr>
            <h2>2. LLENAR EL FORMULARIO</h2>
            <form [formGroup]="postulacionComunidadForm">
                <div formArrayName="habilidades">
                    <div *ngFor="let item of getHabilidades.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <input class="textbox" placeholder="Habilidad" formControlName="habilidad" /> 
                        <input type="number" class="textbox" placeholder="Nivel" formControlName="nivel" min="1" max="5" />
                        <button class="btn-danger" (click)="less(pointIndex)"><i class="pi pi-trash"></i></button>
                    </div>
                </div><br>
                <button class="btn" (click)="add()"><i class="pi pi-plus"></i></button>
                <br><br>
                <button class="btn" [disabled]="postulacionComunidadForm.invalid" (click)="enviar()"><i class="pi pi-send"></i> Enviar Postulación</button>
                <button class="btn-danger" (click)="cancelar()"><i class="pi pi-times"></i> Cancelar</button>
            </form>
    </div>
</div>
