<p-toast position="top-center" key="tc"></p-toast>

<div class="p-grid container">
    <div class="p-col-12">
        <menu-estudiante></menu-estudiante>
    </div>
    <div class="p-col-2">
        <sidemenu-estudiante></sidemenu-estudiante>
    </div>
    <div class="p-col-9 cuerpo">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>{{titulo}}</h1>
                <p>A continuación podras ingresar tus habilidades para tu postulación a la comunidad, deberás ingresar
                    tu habilidad y el nivel de esta.
                    Los niveles estan entre 1 - 5, siendo 1 nivel bajo y 5 el nivel más alto.</p>
                <div>
                </div>
                <form [formGroup]="postulacionComunidadForm">
                    <div class="p-grid" formArrayName="habilidades">
                        <div class="p-col-12 p-lg-3 p-md-6 p-sm-12 card"
                            *ngFor="let item of getHabilidades.controls; let pointIndex=index"
                            [formGroupName]="pointIndex">
                            <p-card header="Habilidad"
                                [style]="{'width': '100%', 'margin-bottom': '2em', 'margin-right':'2em', 'background-color':'#a9b5ec'}">
                                <input pInputText class="textbox" placeholder="Habilidad" formControlName="habilidad" />
                                <br><br>
                                <input pInputText type="number" class="textbox" placeholder="Nivel"
                                    formControlName="nivel" min="1" max="5" />
                                <br><button class="button-delete trash" (click)="less(pointIndex)"><i
                                        class="pi pi-trash">
                                        Eliminar</i></button>
                            </p-card>
                        </div>
                    </div><br>
                    <button class="button" (click)="add()"><i class="pi pi-plus"></i></button>
                    <br><br>
                    <button class="button" [disabled]="postulacionComunidadForm.invalid" (click)="enviar()"><i
                            class="pi pi-send"></i> Enviar Postulación</button>
                    <button class="button-delete" (click)="cancelar()"><i class="pi pi-times"></i> Cancelar</button>
                </form>
            </div>

        </div>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-2 bg-footer"></div>
    <div class="p-col-10 footer-main">
        <footer-estudiante></footer-estudiante>
    </div>
</div>