.noData{
    text-align: center;
    padding-top: 2%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}
.tarjetas{
    text-align: center;
}

.card img{
    width: 50%;
}

.boton-card{
    width: 100%;
}

.boton-card:active{
    background-color: brown;
}

.textbox{
    padding: 1% !important; 
}

@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 10%;
        padding-left: 4%;
    }
    .textbox{
        padding: 2% !important;
    }
}