.container {
    height: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
}

.img {
    width: 50%;
}

.noData {
    text-align: center;
    padding-top: 7%;
}

.cuerpo {
    padding-top: 8%;
}

.button {
    padding: 1%;
}

.button-delete {
    padding: 1%;
}

.noData img {
    width: 20%;
    opacity: 60%;
}

.button-detalles {
    padding: 4%;
    width: 100%;
}

.img-container {
    text-align: center;
}

.caja-texto {
    width: 100%;
}

.footer-decano {
    margin-top: 5%;
    padding: 0%;
}

.bg-footer {
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}

@media only screen and (max-width: 900px) {
    .cuerpo {
        padding-top: 8%;
    }
    .noData{
        padding-top: 17%;
    }
}