.container{
    height: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
}
.img-container img{
    width: 50%;
}
.noData{
    text-align: center;
    padding-top: 5%;
}
.cuerpo{
    padding-top: 5%;
}
.button{
    padding: 1%;
}
.button-delete{
    padding: 1%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.button-detalles{
    padding: 4%;
    width: 100%;
}
.img-container{
    text-align: center;
}
.caja-texto{
    width: 100%;
}