.contenedor{
    margin-left: 2%;
}
.resultados{
    padding-left: 2%;
}
.card{
    width: 100%;
    padding: 20%;
}

.img-container{
    width: 100%;
	height: 200px;
    /* overflow: hidden; */
}
/* .img-container img.img{
    object-fit: cover;
    overflow: hidden;
} */
.boton-mas{
    width: 300px;
    background-color: #457b9d;
    color: #f1faee;
    border-style: none;
    padding: 4%;
    border-radius: 5px;
}