<div class="p-grid contenedor">
    <div class="p-col-1"></div>
    <div class="card-shadow p-col-10">
        <div class="p-grid">
            <p-card *ngFor="let item of resultados" class="card p-col-12 p-xl-4 p-lg-6 p-md-6 p-sm-12" header="{{item.actividad}}" subheader="Comunidad {{item.comunidad}}" [style]="{width: '100%', height: '400px'}"
            styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <div class="img-container">
                    <a (click)="enviar(item.external_resultado)" ><img class="img" alt="Card" src="{{imagen}}{{item.imagenes[0].ruta_imagen}}"></a>
                </div>
            </ng-template>
            <small>Fecha de Inicio: {{item.fecha_inicio}}</small>
            <br>
            <small>Fecha de Fin: {{item.fecha_fin}}</small>
        </p-card>
        </div>
    </div>
    <div class="p-col-1"></div>
</div>