.nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fafafa;
    color: #1d3557;
    
}
.nav .login{
    text-align: right;
    vertical-align: middle;
    margin: auto;
}
.nav img{
    padding-top: 1%;
}
a{
    cursor: pointer;
}

/* CABECERA */
.cabecera{
    padding-left: 5%;
    padding-right: 5%;
}
.texto{
    text-align: center;
}
.fechas{
    text-align: right;
}
.logo{
    text-align: left;
}
.logo img{
    vertical-align: middle;
    width:30%;
}
/* CUERPO */
.cuerpo{
    padding-top: 7%;
}
.cuerpo h2{
    text-align: center;
}

.img img{
    width: 100%;
    height: auto;
    /* padding: 3%; */
}
.info{
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width: 800px) {
    .cuerpo{
        padding-top:20%;
    }
}