<div class="p-grid">
    <div class="p-col-12">
        <p-menubar class="nav" [model]="items" [style]="{'background-color': '#1d3557'}">
            <ng-template pTemplate="start">
                <img src="/assets/sistemasUNL_2.svg" height="60" class="p-mr-2">
            </ng-template>
            <ng-template pTemplate="end">
                <a (click)="regresar()"><i class="pi pi-arrow-circle-left"></i> Regresar</a>
            </ng-template>
        </p-menubar>
    </div>
    <div class="p-col-12 cuerpo">
        <h2>Presentación de Resultados</h2>
    </div>
    <div class="p-col-7">
        <div class="p-grid info">
            <div class="p-col-2 logo">
                <img src="{{img_con}}{{resultado.comunidad_logo}}" />
            </div>
            <div class="p-col-10">
                <h2>{{resultado.actividad}}</h2>
                <h3>Comunidad {{resultado.comunidad}}</h3>
                <small>Fecha Inicio: {{resultado.fecha_inicio}}</small><br>
                <small>Fecha Fin: {{resultado.fecha_fin}}</small>
            </div>
        </div>
        <div class="p-col-12 info">
            <div class="actividad">
                <h2>Descripción de la Actividad</h2>
                <p>{{resultado.descripcion_actividad}}</p>
            </div>
            <div class="resultado">
                <h2>Resultados Obtenidos</h2>
                <p>{{resultado.descripcion_resultado}}</p>
            </div>
        </div>
    </div>
    <div class="p-col-5 img">
        <img alt="Card" *ngFor="let item of resultado.imagenes" src="{{imagen}}{{item.ruta_imagen}}">
    </div>
</div>