.star{
    color: rgb(255, 239, 13);
}
.cuerpo{
    padding-top: 5%;
}
.caja-texto{
    width: 100%;
}
.noData{
    text-align: center;
    padding-top: 7%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}
.footer-main{
    margin-top: 5%;
    padding: 0%;
}
.bg-footer{
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}
@media only screen and (max-width: 900px) {
    .noData{
        text-align: center;
        padding-top: 15%;
    }
}