<p-toast position="top-center" key="tc"></p-toast>

<div class="p-grid container">
    <div id="nav" class="p-col-12">
        <menu-tutor></menu-tutor>
    </div>
    <div class="p-col-2">
        <sidemenu-tutor></sidemenu-tutor>
    </div>
    <div class="p-col-9 cuerpo" *ngIf="hayDatos">
        <h1>{{titulo}}</h1>
        <div class="p-grid">
            <div *ngFor="let item of postulaciones">
                <div class="p-lg-3 p-md-6 p-sm-12">
                    <p-card header="{{item.estudiante}}" subheader="{{item.ciclo}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
                        <h3>Habilidades:</h3>
                        <div *ngFor="let pos of item.habilidades">
                            <p>{{pos.habilidad}}  {{pos.nivel}} <i class="star pi pi-star"></i></p>
                        </div>
                        <ng-template pTemplate="footer">
                            <form [formGroup]="postulacionForm">
                                <textarea maxlength="65000" class="caja-texto" rows="3"  placeholder="Observaciones" pInputTextarea autoResize="autoResize" formControlName="comentario"></textarea>
                                <br><br>
                                <button class="button" (click)="aceptarPostulacion(item.external_postulacion)"><i class="pi pi-check"></i> Aceptar</button>
                                <button class="button-delete" (click)="rechazarPostulacion(item.external_postulacion)"><i class="pi pi-times"> Rechazar</i></button>
                            </form>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-9 noData" *ngIf="!hayDatos">
        <img src="../../../../../assets/advertencia.png" />
        <h3>POR EL MOMENTO NO EXISTEN POSTULACIONES</h3>
    </div>
    <div class="p-col-1"></div>
</div>