.star{
    color: rgb(255, 239, 13);
}
.cuerpo{
    padding-top: 5%;
}

.noData{
    text-align: center;
    padding-top: 5%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}
@media only screen and (max-width: 900px) {
    .noData{
        text-align: center;
        padding-top: 15%;
    }
}