<div class="contenedor">
    <div class="p-grid">
        <div class="p-col-12">
            <p-menubar class="nav" [model]="items" [style]="{'background-color': '#1d3557'}">
                <ng-template pTemplate="start">
                    <img src="/assets/sistemasUNL_2.svg" height="60" class="p-mr-2">
                </ng-template>
                <ng-template pTemplate="end">
                    <a routerLink="login"><i class="pi pi-user"></i> Inicar Sesión</a>
                </ng-template>
            </p-menubar>
        </div>
    </div>
    <div class="resultados">
        <resultados-preview></resultados-preview>
    </div>
</div>
<div>
    <footer></footer>
</div>