/* azul claro #457b9d; rojo #e63946 azul oscuro #1d3557; dark #071831 */
.nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fafafa;
    color: #1d3557;
    
}
.nav .login{
    text-align: right;
    vertical-align: middle;
    margin: auto;
}
.nav img{
    padding-top: 1%;
}
.resultados h1{
    text-align: center;
}
.about{
    margin-top: 7%;
}


.img-container img{
    width: 100%;
}