<div class="contenedor">
    <div class="p-grid">
        <div class="p-col-12">
            <div class="nav p-grid">
                <div class="p-col-6">
                    <img src="/assets/sistemasUNL_2.svg" height="60" class="p-mr-2">
                </div>
                <div class="p-col-6 login">
                    <a routerLink="login"><i class="pi pi-user"></i> Inicar Sesión</a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 about">
        <div class="p-grid p-jc-center">
            <div class="p-col-5">
                <p>El sistema web “Comunidades Estudiantiles”, se enfoca en la administración de las
                    comunidades estudiantiles, el sistema desarrollado apoya a docentes, estudiantes y
                    personal administrativo con los procesos de creación de comunidades estudiantiles,
                    planificación de actividades, generación de resultados, vinculaciones, postulaciones a
                    una comunidad.</p>
            </div>
            <div class="p-col-5">
                <p>img</p>
            </div>
        </div>
    </div>
    <div class="resultados">
        <h1>RESULTADOS GENERADOS POR LAS COMUNIDADES ESTUDIANTILES</h1>
        <resultados-preview></resultados-preview>
    </div>
</div>
<div>
    <footer></footer>
</div>