.cuerpo{
   padding-top: 5%;
}

.noData{
   text-align: center;
   padding-top: 5%;
}

.noData img{
   width: 20%;
   opacity: 60%;
}
.img-container .img{
   width: 50%;
}
.caja-texto{
   width: 80%;
}
.button{
   padding: 1%;
}
.button-delete{
   padding: 1%;
}
