.body{
    /* background-color: aqua; */
    /* background-image: url(../../../../assets/f187d747-6dcb-4347-89bc-440aab1bcf4c.jpe); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.fondo{
    background-image: url(/assets/f187d747-6dcb-4347-89bc-440aab1bcf4c.jpe);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    position: absolute;
}

.login{
    text-align: center;
    z-index: 100;
    margin: auto;
}

.login-txt{
    width: 100%;
}
.login .recuperar-clave{
    text-align: left;
}
.recuperar-clave{
    cursor: pointer;
}
.dialog{
    text-align: justify;
}