.container{
    height: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
}
.cuerpo{
    padding-top: 5%;
}
.noData{
    text-align: center;
    padding-top: 5%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}