<div class="p-grid container">
    <div class="p-col-12">
        <menu-miembros></menu-miembros>
    </div>
    <div class="p-col-2"><sidemenu-miembros></sidemenu-miembros></div>
    <div class="p-col-9 cuerpo" *ngIf="hayDatos">
        <h2>{{titulo}}</h2>
        <div *ngFor="let item of resultados">
            <div class="p-lg-4 p-md-6 p-sm-12 card" >
                <p-card header="{{item.actividad}}" subheader="{{item.comunidad}}" [style]="{width: '100%'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <div class="img-container">
                            <img class="img" alt="Card" src="{{imagen}}{{item.imagenes[0].ruta_imagen}}">
                        </div>
                    </ng-template>
                    <p>{{item.resumen_resultado}}</p>
                    <small>Fecha de Inicio: {{item.fecha_inicio}}</small>
                    <br>
                    <small>Fecha de Fin: {{item.fecha_fin}}</small>
                    <ng-template pTemplate="footer">
                        <button class="button-detalles" (click)="enviar(item.external_resultado)"><i class="pi pi-info-circle"> Ver Resultado</i></button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
    <div class="p-col-9 noData" *ngIf="!hayDatos">
        <img src="/assets/advertencia.png" />
        <h3>POR EL MOMENTO NO HAY RESULTADOS DE NINGUNA ACTIVIDAD</h3>
    </div>
    <div class="p-col-1"></div>
</div>