<div class="p-grid container">
    <div class="p-col-12">
        <menu-miembros></menu-miembros>
    </div>
    <div class="p-col-2">
        <sidemenu-miembros></sidemenu-miembros>
    </div>
    <div class="p-col-9 cuerpo" *ngIf="hayDatos">
        <h2>{{titulo}}</h2>
        <!-- *************************************************************************************************************************************** -->
        <div class="card">
            <p-dataView #dv [value]="resultados" [paginator]="true" [rows]="9" filterBy="actividad" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Buscar por Actividad" (input)="dv.filter($event.target.value)">
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
                <ng-template let-product pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="product-list-item img">
                            <img src="{{imagen}}{{product.imagenes[0].ruta_imagen}}" alt="logo comunidad" />
                            <div class="product-list-detail">
                                <div class="product-name">{{product.actividad}}</div>
                                <div class="product-description">Comunidad {{product.comunidad}}</div>
                                <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                                <!-- <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.fecha_inicio}}</span> -->
                            </div>
                            <div class="product-list-action">
                                <span class="product-category"><i class="pi pi-calendar"></i> Inicio: {{product.fecha_inicio}}</span>
                                <span class="product-category"><i class="pi pi-calendar"></i> Fin: {{product.fecha_fin}}</span>
                                <br>
                                <p-button (click)="enviar(product.external_resultado)">Ver Resultado</p-button>
                                <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-product pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="product-grid-item card">
                            <div class="product-grid-item-top">
                                <div>
                                    <span class="product-category">Comunidad {{product.comunidad}}</span>
                                </div>
                                <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                            </div>
                            <div class="product-grid-item-content img2">
                                <img src="{{imagen}}{{product.imagenes[0].ruta_imagen}}" alt="logo comunidad" />
                                <div class="product-name">{{product.actividad}}</div>
                                <!-- <div class="product-description">{{product.comunidad}}</div> -->
                            </div>
                            <div class="product-grid-item-bottom">
                                <p><span class="product-category"><i class="pi pi-calendar"></i> {{product.fecha_inicio}}</span></p><br>
                                <p><span class="product-category"><i class="pi pi-calendar"></i> {{product.fecha_fin}}</span></p>
                            </div>
                            <div class="product-grid-item-bottom">
                                <p-button (click)="enviar(product.external_resultado)">Ver Resultado</p-button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
        <!-- *************************************************************************************************************************************** -->
        <!-- <div *ngFor="let item of resultados">
            <div class="p-lg-4 p-md-6 p-sm-12 card" >
                <p-card header="{{item.actividad}}" subheader="{{item.comunidad}}" [style]="{width: '100%'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <div class="img-container">
                            <img class="img" alt="Card" src="{{imagen}}{{item.imagenes[0].ruta_imagen}}">
                        </div>
                    </ng-template>
                    <p>{{item.resumen_resultado}}</p>
                    <small><strong>Fecha de Inicio:</strong> {{item.fecha_inicio}}</small>
                    <br>
                    <small><strong>Fecha de Fin:</strong> {{item.fecha_fin}}</small>
                    <ng-template pTemplate="footer">
                        <button class="button-detalles" (click)="enviar(item.external_resultado)"><i class="pi pi-info-circle"> Ver Resultado</i></button>
                    </ng-template>
                </p-card>
            </div>
        </div> -->
    </div>
    <div class="p-col-9 noData" *ngIf="!hayDatos">
        <img src="./assets/advertencia.png" />
        <h3>POR EL MOMENTO NO HAY RESULTADOS DE NINGUNA ACTIVIDAD</h3>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-2 bg-footer"></div>
    <div class="p-col-10 footer-main">
        <footer-miembros></footer-miembros>
    </div>
</div>