.noData{
    text-align: center;
    padding-top: 2%;
}
.cuerpo{
    width: 100%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.img-container{
    width: 100%;
	height: 100px;
    overflow: hidden;
}
.img-container img.img{
    object-fit: cover;
    overflow: hidden;
}
@media only screen and (max-width: 900px) {
    .comunidades{
        padding-top: 20%;
        width: 100%;
    }
    .card{
        width: 100%;
    }
}