.noData{
    text-align: center;
    padding-top: 2%;
}
.comunidades{
    padding-top: 7%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.img-container{
    width: 100%;
    padding-top: 3%;
    text-align: center;
}
.img-container img.img{
    width: 50%;
    height: auto;
}
.card{
    margin-bottom: 2%;
}
.button, .button-detalles{
    padding: 3%;
}
@media only screen and (max-width: 900px) {
    .comunidades{
        padding-top: 20%;
        width: 100%;
    }
}