<div class="p-grid container">
    <div class="p-lg-2">
        <menu-tutor></menu-tutor>
    </div>
    <div class="p-lg-10">
        <h1>{{titulo}}</h1>

        <div>
            <form [formGroup]="generarVinculacionForm">
                <span class="p-float-label caja-texto">
                    <textarea rows="3" cols="60" pInputTextarea autoResize="autoResize" formControlName="descripcion"></textarea>
                    <label for="descripcion">Descripcion</label>
                </span>
                <br>
                <input type="date" class="date" placeholder="fecha" formControlName="fecha_inicio" />
                <br><br>
                <button class="btn" [disabled]="generarVinculacionForm.invalid" (click)="enviar()"><i class="pi pi-send"></i> Generar Vinculacion</button>
                <button class="btn-danger" (click)="cancelar()"><i class="pi pi-times"></i> Cancelar</button>
            </form>
            
        </div>
    </div>
</div>
