.noData{
    text-align: center;
    padding-top: 2%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}
.cuerpo{
    padding-top: 5%;
}

.button, .button-delete{
    padding: 1%;
}
.footer-main{
    margin-top: 5%;
    padding: 0%;
}
.bg-footer{
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}