.footer{
    margin-top: 7%;
    background-color: #132641;
    padding: 1%;
    padding-top: 3%;
    color: #fafafa;
}
.footer .derechos{
    text-align: center;
    margin-top: 1%;
}

.footer .logoCIS img{
    width: fit-content;
}
@media only screen and (max-width: 900px) {
    .footer{
        padding: 5%;
    }
}