img{
    width: 30%;
}
.menu-resultados{
    background-color: #0C2342;
    width: 100%;
    height: fit-content;
    position: fixed;
    padding: 1%;
    z-index: 100;
    top: 0px;
}
.logo_cis{
    width: 60%;
}

.links{
    color: #fafafa;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
}
.header{
    margin-top: 7%;
}
.titulos{
    background-color: #0C2342;
    color: #fafafa;
    text-align: center;
}

/* Cuerpo en general */
.cuerpo{
    margin-top: 2%;
}


.titulosCabecera{
    text-align: center;
}
.logo_comunidad{
    width:150px;
    height:150px;
    border-radius: 150px;
}
.fechas{
    text-align: center;
}
small{
    padding-left: 0%;
}
.actividad{
    margin-top: 10%;
}
.actividad h2{
    text-align: center;
}
.actividad p{
    margin-left: 10%;
}
.resultado{
    margin-top: 8%;
}
.resultado h2{
    text-align: center;
}
.resultado p{
    margin-left: 10%;
}
.img_resultados{
    text-align: center;
    padding: 5%;
    margin-top: 2%;
}
.img_resultados img{
    width: 100%;
}
.aside{
    text-align: center;
}
.aside img{
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .cuerpo{
        padding-left: 0%;
    }
    .contenido{
        margin-top: 28%;
    }
    .actividad p{
        margin-left: 3%;
    }
    .resultado{
        margin-top: 4%;
    }
    .resultado h2{
        text-align: center;
    }
    .resultado p{
        margin-left: 3%;
    }
}