<div class="p-grid menu-resultados">
    <div class="p-col-12 p-lg-4">
        <img class="logo_cis" src="../../../../assets/sistemasUNL_2.svg" />
    </div>
    <div class="p-col-12 p-lg-8 links">
       <a class="links" (click)="regresar()"><i class="pi pi-arrow-circle-left"></i> Regresar</a>
    </div>
</div>
<div class="contenido">
    <div class="p-grid header">
        <div class="p-col-a2 p-lg-12 titulos">
            <h1>Presentación de Resultados</h1>
        </div>
    </div>
    <div class="p-grid cuerpo">
       
        <div class="p-col-12 p-lg-12 verResultados">
            <div class="titulosCabecera">
                <img class="logo_comunidad" [src]="resultado.comunidad_logo" />
                <h2>{{resultado.actividad}}</h2>
                <h3>Comunidad {{resultado.comunidad}}</h3>
            </div>
            <div class="fechas">
                <small>Fecha Inicio: {{resultado.fecha_inicio}}</small><br>
                <small>Fecha Fin: {{resultado.fecha_fin}}</small>
            </div>
            <div class="actividad">
                <h2>Descripción de la Actividad</h2>
                <p>{{resultado.descripcion_actividad}}</p>
            </div>
            <div class="resultado">
                <h2>Resultados Obtenidos</h2>
                <p>{{resultado.descripcion_resultado}}</p>
            </div>
            <div class="p-grid img_resultados">
                <div class="p-lg-12">
                    <h2>Evidencias de los Resultados</h2>
                </div>
                <div class="p-lg-6" *ngFor="let item of resultado.imagenes">
                    <img alt="Card" [src]="item.ruta_imagen">
                </div>
            </div> 
        </div>
    </div>
</div>