.menu-tutor{
    padding-top: 0%;
}
.tarjetas{
    margin-bottom: 10%;
}
.cuerpo{
    padding-top: 5%;
}
.noData{
    text-align: center;
    padding-top: 8%;
}
p{
    padding-left: 0%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.img-container{
    width: 100%;
}
.img{
    text-align: center;
    width: 60%;
}

.img-container img.img{
    object-fit: cover;
    overflow: hidden;
}

.button, .button-detalles{
    padding: 4%;
}
.footer-main{
    margin-top: 5%;
    padding: 0%;
}
.bg-footer{
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}
@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 10%;
    }
}