<div class="p-grid container">
    <div id="nav" class="p-col-12">
        <menu-tutor></menu-tutor>
    </div>
    <div class="p-col-2">
        <sidemenu-tutor></sidemenu-tutor>
    </div> 
    <div class="p-col-9 cuerpo" *ngIf="hayDatos">
        <h2>Seleccionar Comunidad</h2>
        <div class="p-grid">
            <div class="tarjetas p-col-12 p-sm-6 p-md-6 p-lg-3" *ngFor="let item of lista">
                <p-card header="{{item.nombres}}" subheader="{{item.tutor}}" [style]="{width: '100%', height:'auto'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <div class="img-container">
                            <img class="img" alt="Card" src="{{imagen}}{{item.ruta_logo}}">
                        </div>
                        </ng-template>
                    <ng-template pTemplate="footer">
                        <button class="button" (click)="seleccionar(item.external_comunidad)"><i class="pi pi-check"> Seleccionar</i></button>
                        <button class="button-detalles" (click)="verDetalles(item.external_comunidad)"><i class="pi pi-info-circle"> Detalles</i></button>
                    </ng-template>
                </p-card>
            </div>
            
            <div>
                <p-dialog header="Información Complementaria" [(visible)]="displayModal" [style]="{width: '70vw'}"
                    [baseZIndex]="10000">
                    <h3>Descripción</h3>
                    <p>{{comunidad.descripcion}}</p>
                    <h3>Misión</h3>
                    <p>{{comunidad.mision}}</p>
                    <h3>Visión</h3>
                    <p>{{comunidad.vision}}</p>
                </p-dialog>
            </div>
        </div>
    </div>

    <div class="p-col-9 noData" *ngIf="!hayDatos">
        <img src="/assets/advertencia.png" />
        <h3>POR EL MOMENTO NO HAY COMUNIDADES</h3>
    </div>
    <div class="p-col-1"></div>
</div>