.menu-tutor{
    padding-top: 0%;
}


.noData{
    text-align: center;
    padding-top: 2%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}
img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.card{
    width: 100%;
    padding: 20%;
}
.img-container{
    width: 100%;
	height: 100px;
    overflow: hidden;
}
.img-container img.img{
    object-fit: cover;
    overflow: hidden;
}
@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 10%;
    }
}