.menu-tutor{
    padding-top: 0%;
}


.noData{
    text-align: center;
    padding-top: 2%;
}
p{
    padding-left: 0%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.img-container{
    width: 100%;
}
.img{
    text-align: center;
    width: 60%;
}
.card{
    width: 100%;
    padding: 20%;
}

.img-container img.img{
    object-fit: cover;
    overflow: hidden;
}
@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 10%;
    }
}