<div class="p-grid container">
    <div id="nav" class="p-col-12">
        <menu-tutor></menu-tutor>
    </div>
    <div class="p-col-2">
        <sidemenu-tutor></sidemenu-tutor>
    </div>
    <div class="p-col-9 cuerpo" *ngIf="hayDatos">
        <h2>Seleccionar Comunidad</h2>
        <div class="p-grid">
            <p-table [value]="lista" [paginator]="true" [rows]="3" [showCurrentPageReport]="true"
                urrentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" #dt1
                styleClass="p-datatable-responsive-demo">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Logo</th>
                        <th>Comunidad</th>
                        <Th>Tutor</Th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-objeto let-rowIndex="rowIndex">
                    <tr>
                        <td><img class="img" alt="Card" src="{{imagen}}{{objeto.ruta_logo}}"></td>
                        <td>{{objeto.nombres }}</td>
                        <td>{{objeto.tutor }}</td>
                        <td>
                            <ng-container>
                                <button pButton pRipple type="button" icon="pi pi-check" label="Seleccionar"
                                   style="width: 100%; margin-bottom: 5px;" class="buton-primeng" (click)="seleccionar(objeto.external_comunidad)"></button>
                                <button pButton pRipple type="button" icon="pi pi-info-circle" label="Detalles"
                                    class="p-button-secondary buton-primeng"
                                   style="width: 100%; margin-bottom: 5px;" (click)="verDetalles(objeto.external_comunidad)"></button>
                            </ng-container>
                        </td>
                    </tr>

                </ng-template>
            </p-table>
            <!-- <div class="tarjetas p-col-12 p-sm-6 p-md-6 p-lg-4" *ngFor="let item of lista">
                <p-card header="{{item.nombres}}" subheader="{{item.tutor}}" [style]="{width: '100%', height:'auto'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <div class="img-container">
                            <img class="img" alt="Card" src="{{imagen}}{{item.ruta_logo}}">
                        </div>
                        </ng-template>
                    <ng-template pTemplate="footer">
                        <button class="button" (click)="seleccionar(item.external_comunidad)"><i class="pi pi-check"> Seleccionar</i></button>
                        <button class="button-detalles" (click)="verDetalles(item.external_comunidad)"><i class="pi pi-info-circle"> Detalles</i></button>
                    </ng-template>
                </p-card>
            </div> -->

            <div>
                <p-dialog header="Información Complementaria" [modal]="true" [(visible)]="displayModal" [style]="{width: '70vw'}"
                    [baseZIndex]="10000">
                    <h3>Descripción</h3>
                    <p>{{comunidad.descripcion}}</p>
                    <h3>Misión</h3>
                    <p>{{comunidad.mision}}</p>
                    <h3>Visión</h3>
                    <p>{{comunidad.vision}}</p>
                </p-dialog>
            </div>
        </div>
    </div>

    <div class="p-col-9 noData" *ngIf="!hayDatos">
        <img src="./assets/advertencia.png" />
        <h3>POR EL MOMENTO NO HAY COMUNIDADES</h3>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-2 bg-footer"></div>
    <div class="p-col-10 footer-main">
        <footer-tutor></footer-tutor>
    </div>
</div>