<div class="p-grid container">
    <div class="p-lg-4 menu-tutor">
        <menu-tutor></menu-tutor>
    </div>
    <div class="p-lg-8 container" *ngIf="hayDatos">
        <h1>{{titulo}}</h1>
        <div class="p-grid">
            <div *ngFor="let item of lista">
                <div class="p-lg-3 p-md-6 p-sm-12">
                    <p-card header="{{item.comunidad_solicitante}}" subheader="{{item.fecha_inicio}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
                        <p>{{item.descripcion}}</p>
                        <ng-template pTemplate="footer">
                            <p-button label="Aceptar" icon="pi pi-check" (click)="aceptarVinculacion(item.external_vinculacion)"></p-button>
                            <p-button label="Rechazar" icon="pi pi-times" (click)="rechazarVinculacion(item.external_vinculacion)" styleClass="p-button-danger" [style]="{'margin-left': '.5em'}"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
    <div class="p-lg-8 noData" *ngIf="!hayDatos">
        <img src="../../../../../assets/advertencia.png" />
        <h3>POR EL MOMENTO NO EXISTEN SOLICITUDES DE VINCULACIÓN</h3>
    </div>
</div>