p{
    margin-left: 0%;
    padding-left: 0%;
}
.menu-tutor{
    padding-top: 0%;
}
.caja-texto{
    width: 80%;
}
.cuerpo{
    padding-top: 5%;
}
.noData{
    text-align: center;
    padding-top: 8%;
}
.img-container{
    width: 100%;
}
.img{
    text-align: center;
    width: 50%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.button-det{
    background-color: #457b9d;
    color: #fafafa;
    border-radius: 5px;
    border-style: none;
    padding: 4%;
    margin: 0.5%;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
}

.button, .button-delete{
    padding: 1%;
}
.footer-main{
    margin-top: 5%;
    padding: 0%;
}
.bg-footer{
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}
@media only screen and (max-width: 900px) {
    .container{
        padding-top: 20%;
    }
    .noData{
        padding-top: 20%;
    }
}