<p-toast position="top-center" key="tc"></p-toast>

<div class="p-grid container">
    <div id="nav" class="p-col-12">
        <menu-tutor></menu-tutor>
    </div>
    <div class="p-col-2">
        <sidemenu-tutor></sidemenu-tutor>
    </div>
    <div class="p-col-9 cuerpo" *ngIf="hayDatos">
        <h1>{{titulo}}</h1>
        <div class="p-grid">
            <div *ngFor="let item of lista">
                <div class="p-lg-3 p-md-6 p-sm-12">
                    <p-card header="{{item.comunidad_solicitante}}" subheader="{{item.fecha_inicio}}"
                        [style]="{width: '360px', 'background-color':'#F3F3F3'}" styleClass="p-card-shadow">
                        <ng-template pTemplate="header">
                            <div class="img-container">
                                <img class="img" alt="Card" src="{{imagen}}{{item.ruta_logo}}">
                            </div>
                        </ng-template>
                        <button pButton pRipple type="button" icon="pi pi-info-circle" label="Ver Detalle" class="p-button-secondary buton-primeng"
                           style="width: 100%;" (click)="detalles(item.descripcion,item.external_vinculacion)"></button>
                    </p-card>
                </div>
            </div>
        </div>

        <p-dialog header="Información Complementaria" [modal]="true" [(visible)]="displayModal" [style]="{width: '70vw'}"
            [baseZIndex]="10000">
            <h3>Descripción</h3>
            <p>{{descrip}}</p>
            <form [formGroup]="rechazarVinculacionForm">
                <h3>Puede dejar sus Observaciones</h3>
                <textarea maxlength="65000" class="caja-texto" rows="3" placeholder="Observaciones" pInputTextarea
                    autoResize="autoResize" formControlName="comentario"></textarea>
                <br><br>
                <button pButton pRipple type="button" style="margin-right: 5px;" icon="pi pi-check" label="Aceptar Vinculación" class="buton-primeng" (click)="aceptarVinculacion(external_vinculacion)"></button>
                <button pButton pRipple type="button" style="margin-right: 5px;" icon="pi pi-times" label="Rechazar Vinculación" class="p-button-danger buton-primeng" (click)="rechazarVinculacion(external_vinculacion)"></button>
            </form>
        </p-dialog>

    </div>
    <div class="p-col-9 noData" *ngIf="!hayDatos">
        <img src="./assets/advertencia.png" />
        <h3>POR EL MOMENTO NO EXISTEN SOLICITUDES DE VINCULACIÓN</h3>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-2 bg-footer"></div>
    <div class="p-col-10 footer-main">
        <footer-tutor></footer-tutor>
    </div>
</div>