.menu-tutor{
    padding-top: 0%;
}

.noData{
    text-align: center;
    padding-top: 2%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}

.actividades{
    margin-top: 5%;
}
@media only screen and (max-width: 900px) {
    .actividades{
        margin-top: 20%;
    }
}