.menu-tutor {
    padding-top: 0%;
}

.actividades p {
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
}

.noData {
    text-align: center;
    padding-top: 8%;
}

.button {
    padding: 2%;
}

.noData img {
    width: 20%;
    opacity: 60%;
}

.actividades {
    margin-top: 5%;
}

.footer-main {
    margin-top: 5%;
    padding: 0%;
}

.bg-footer {
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}
.scroll{
    height: 300px;
    overflow: scroll;
}

@media only screen and (max-width: 900px) {
    .actividades {
        margin-top: 3%;
    }
    .menu-tutor {
        width: 100%;
    }
    .noData {
        padding-top: 15%;
    }
}