.cuerpo{
    padding-top: 5%;
}
.cuerpo small{
    padding-left: 0%;
}
.noData img{
    width: 20%;
    opacity: 60%;
}
.caja-texto {
    width: 60%;
}
.caja-txt{
    width: 60%;
}
.noData{
    text-align: center;
    padding-top: 10%;
}

.noData img{
    width: 20%;
    opacity: 60%;
}
.button, .button-delete{
    padding: 1%;
}
.footer-main{
    margin-top: 5%;
    padding: 0%;
}
.bg-footer{
    margin-top: 10.82%;
    padding: 0%;
    background-color: #132641;
}    
@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 20%;
        padding-left: 2%;
    }
    .caja-texto{
        width: 100%;
    }
    .noData{
        padding-top: 15%;
    }
}
.buton-primeng{
    margin-right: 5px;
}