<p-toast position="top-center" key="tc"></p-toast>
<div class="p-grid container">
    <div class="p-col-12">
        <menu-docente></menu-docente>
    </div>
    <div class="p-col-2"><sidemenu-docente></sidemenu-docente></div>
    <div class="p-col-9 cuerpo" *ngIf="esTutor">
        <h2>{{titulo}}</h2>
        <form [formGroup]="registrarComunidadForm">
                <input maxlength="25" class="caja-texto" id="nombre-comunidad" placeholder="Nombre de la Comunidad" type="text" pInputText formControlName="nombre_comunidad"> 
                <br><br>
                <textarea maxlength="65000" class="caja-texto" rows="3"  placeholder="Descripción de la Comunidad" pInputTextarea autoResize="autoResize" formControlName="descripcion"></textarea>
                <br><br>
                <textarea maxlength="65000" class="caja-texto" rows="3"  placeholder="Misión de la Comunidad" pInputTextarea autoResize="autoResize" formControlName="mision"></textarea>
                <br><br>
                <textarea maxlength="65000" class="caja-texto" rows="3"  pInputTextarea placeholder="Visión de la Comunidad" autoResize="autoResize" formControlName="vision"></textarea>
            <br><br>
            <small>Sr Usuario su imagen debe ser de tipo PNG y no debe pesar mas de 2Mb</small><br>
            <input pInputText type='file' s (change)="fileEvent($event)" />
            <br><br>
            <button class="button" [disabled]="registrarComunidadForm.invalid" (click)="enviar()"><i class="pi pi-send"> Enviar Solicitud</i></button>
            <button class="button-delete" (click)="cancelar()"><i class="pi pi-times"> Cancelar</i></button>
        </form>
    </div>
    <div class="p-col-9 noData" *ngIf="!esTutor">
        <img src="/assets/advertencia.png" />
        <h3>POR EL MOMENTO YA CUENTA CON UNA SOLICITUD PARA LA CREACIÓN DE UNA COMUNIDAD</h3>
    </div>
    <div class="p-col-1"></div>
</div>
