<p-toast position="top-center" key="tc"></p-toast>
<div class="body p-grid">
    <div class="fondo"></div>
    <div class="p-lg-4 p-md-6 p-sm-10 login">
        <p-card header="UNIVERSIDAD NACIONAL DE LOJA " subheader=" CARRERA DE INGENIRIA EN SISTEMAS Y COMPUTACIÓN">
            <ng-template pTemplate="header">
                <div class="img-container">
                    <img alt="Ingenieria en Sistemas" src="../../../../assets/logo-unl.png">
                </div>
            </ng-template>
            <form [formGroup]="loginForm">
                <input id="correo" placeholder="Correo Electrónico" class="caja-texto login-txt" type="text" pInputText
                    formControlName="correo">
                <br><br>
                <input id="clave" placeholder="Contraseña" class="caja-texto login-txt" type="password" pInputText
                    formControlName="clave">
                <br><br>
                <button class="button" [disabled]="loginForm.invalid" (click)="login()">Iniciar Sesión</button>
                <button class="button-delete" (click)="cancelar()">Cancelar</button>
            </form>
            <div class="opciones">
                <span class="recuperar-clave" (click)="show()">Recuperar Contraseña</span><br>
                <span class="recuperar-clave" (click)="registrarse()">No tienes cuenta?...Registrate!</span>
            </div>
        </p-card>
        <p-dialog class="dialog" header="Recuperar Contraseña" [(visible)]="display">
            <p>Porfavor ingrese su correo electrónico para poder recuperar su contraseña</p>
            <input type="text" pInputText [(ngModel)]="correo"><br><br>
            <button pButton type="button" (click)="RecuperarClave(correo)" label="Enviar Petición"></button>
        </p-dialog>
    </div>
</div>