<!-- <ng-container *ngIf="estaLogeado"> -->
    <!-- <ng-container select="rutas-privadas"> -->
        <!-- <div class="p-grid">
            <div class="p-lg-4">
                <a routerLink='admin/tutor/aceptar-postulacion' routerLinkActivate="active">Postulacion</a>
                <a routerLink='admin/tutor/planificar-actividades' routerLinkActivate="active">Planificar</a>

            </div>
            <div class="p-lg-8">
                <router-outlet></router-outlet>
            </div>
        </div> -->
    <!-- </ng-container> -->
<!-- </ng-container> -->
<!-- <ng-container *ngIf="!estaLogeado">
    <router-outlet></router-outlet>
</ng-container> -->
<router-outlet></router-outlet>
