.img img{
    padding-top: 3%;
    padding-left: 6%;
    width: 80%;
}
@media only screen and (max-width: 900px) {
    .img img{
        padding-top: 8%;
    padding-left: 6%;
    width: 130%;;
    }
}