.card{
    margin-right: 0%;
}
small{
    padding: 0%;
    margin: 0%;
}

.activ{
    box-shadow: 2px 2px 5px #999;
}
.activ p{
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
}
.textbox{
    border-radius: 5px;
}
.cuerpo{
    padding-top: 5%;
}
.button, .button-delete, .add{
    padding: 1%;
}
.less{
    padding: 2%;
}
@media only screen and (max-width: 900px) {
    .cuerpo{
        padding-top: 20%;
    }
}
