<p-toast position="top-center" key="tc"></p-toast>

<div class="p-grid container">
    <div id="nav" class="p-col-12">
        <menu-tutor></menu-tutor>
    </div>
    <div class="p-col-2">
        <sidemenu-tutor></sidemenu-tutor>
    </div>
    <div class="p-col-9 cuerpo" *ngIf="!hayDatos">
        <h1>{{titulo}}</h1>
        <small><strong>Nota:</strong> Recuerde revisar el calendario Académico para poder Planificar sus
            Actividaes</small><br><br>
        <form [formGroup]="planificarActividadesForm">
            <div class="p-grid act" formArrayName="actividades">
                <div class="p-col-12">
                    <button class="button add" (click)="add()"><i class="pi pi-plus"> Añadir</i></button>
                    <button class="button" [disabled]="planificarActividadesForm.invalid" (click)="enviar()"><i class="pi pi-send"></i> Enviar Planificacion</button>
                    <button class="button-delete" (click)="cancelar()"><i class="pi pi-times"></i> Cancelar</button>
                </div>
                <div class="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-lg-6 p-md-6 p-sm-12 card" *ngFor="let item of getActividades.controls; let pointIndex=index" [formGroupName]="pointIndex">
                            <p-card header="Actividad" [style]="{'width': '100%', 'margin-bottom': '2em', 'margin-right':'2em', 'background-color':'#a8dadc'}">
                                <input pInputText class="textbox" placeholder="Nombre Actividad" formControlName="nombre_actividad" /> <br><br>
                                <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" placeholder="Descripcion" formControlName="descripcion_actividad"></textarea><br><br>
                                <input pInputText type="date" class="textbox" placeholder="fecha" formControlName="fecha_inicio" />
                                <ng-template pTemplate="footer">
                                    <button class="button-delete less" (click)="less(pointIndex)"><i class="pi pi-trash"></i> Eliminar</button>
                                </ng-template>
                            </p-card>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="p-col-9 cuerpo" *ngIf="hayDatos">
        <h2>PLANIFICACIÓN DE ACTIVIDADES</h2>
        <div class="p-grid">
            <div class="p-col-12 p-lg-7 calendario">
                <full-calendar class="fecha" [options]="calendarOptions"></full-calendar>   
            </div>
        </div>
        <p-dialog header="Actividades" [(visible)]="displayModal" [style]="{width: '70vw'}" [baseZIndex]="10000">
            <p-tabView>
                <p-tabPanel [header]="item.nombre_actividad" *ngFor="let item of actividad; let i = index" [selected]="i == 0">
                    <p><strong>Fecha Inicio </strong>{{item.fecha_inicio}}</p>
                    <h3>Descripción</h3>
                    <p>{{item.descripcion_actividad}}</p>
                    <h3>Estado de la Actividad</h3>
                    <h4>{{item.estado}}</h4>
                </p-tabPanel>
            </p-tabView>
        </p-dialog>
    </div>
    <div class="p-col-1"></div>

</div>